In [1]:
import pandas as pd

In [ ]:
names = [i[:-4] for i in os.listdir() if i.endwith('.asc')]

In [ ]:
df = pd.read_csv('account'+ 'asc', sep=';')

In [ ]:
df

In [ ]:
for name in name:
    exec('print(1)')
    #execute the texte as a code in python

In [ ]:
for name in name:
    exec('print(names)')

In [ ]:
for name in name:
    name=pd.read_csv(name+'.asc', sep=';')

In [ ]:
for name in name:
   f'{name}=pd.read_csv(name+'.asc', sep=';')'

In [ ]:
for name in name:
    print(f"{name}=pd.read_csv(name+'.asc', sep=';')")
#cau dessu on a creer dif df 
#f use the variable

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
engine=create_engine(f'mysql+pymysql://root:____@127.0.0.1:3306/czech')

In [ ]:
#hard way 
for name in names:
    exec(f"{name}.to_sql('name',engine, if existe='replace', index='False')")

In [ ]:
# les deux dernieres en une ligne 
for name in names:
    pd.read