## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
# Your code here
sample_list_1 =random.sample(range(100),k=80)
print(sample_list_1)

[7, 77, 69, 52, 68, 33, 61, 9, 15, 32, 87, 53, 4, 16, 86, 13, 27, 60, 36, 58, 42, 85, 35, 96, 18, 63, 76, 2, 41, 43, 92, 11, 70, 88, 83, 65, 72, 24, 62, 6, 99, 98, 30, 49, 46, 34, 66, 82, 54, 1, 38, 37, 55, 80, 3, 14, 47, 90, 23, 67, 64, 25, 12, 97, 28, 81, 22, 10, 40, 94, 21, 17, 5, 31, 20, 19, 89, 91, 74, 8]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [136]:
# Your code here
set1 = set(sample_list_1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 49, 52, 53, 54, 55, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [63]:
# Your code here
#sample_list_2 = []
#random.sample(range(100),k=80)
#for i in sample_list_1: 
#    sample_list_2 = sample_list_1 in random(80)
#print(sample_list_2)

In [87]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)
# random.randint(begin, ending) // range(la qt√© voulu)

[47, 29, 16, 2, 31, 99, 53, 31, 33, 66, 13, 50, 77, 32, 24, 15, 79, 46, 16, 60, 58, 46, 46, 71, 31, 13, 23, 50, 74, 53, 33, 88, 58, 88, 28, 0, 88, 50, 15, 36, 7, 73, 1, 5, 77, 6, 29, 23, 4, 63, 13, 86, 76, 50, 0, 69, 51, 1, 51, 0, 30, 36, 60, 57, 91, 36, 55, 55, 89, 4, 38, 13, 96, 86, 35, 24, 59, 58, 73, 22]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [91]:
# Your code here
set2= set(sample_list_2)
set2
len(set2)

47

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [99]:
# Your code here
set3= set1 - set2
print(set3)

{3, 8, 9, 10, 11, 12, 14, 17, 18, 19, 20, 21, 25, 27, 34, 37, 40, 41, 42, 43, 49, 52, 54, 61, 62, 64, 65, 67, 68, 70, 72, 80, 81, 82, 83, 85, 87, 90, 92, 94, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [96]:
# Your code here
set4= set2-set1
print(set4)

{0, 71, 73, 79, 50, 51, 57, 59, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [98]:
# Your code here
set5= set1 & set2
print(set5)

{1, 2, 4, 5, 6, 7, 13, 15, 16, 22, 23, 24, 28, 30, 31, 32, 33, 35, 36, 38, 46, 47, 53, 55, 58, 60, 63, 66, 69, 74, 76, 77, 86, 88, 89, 91, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [109]:
# Your code here
from math import*
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
47
42
9
38

#### Create an empty set called `set6`.

In [110]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [113]:
# Your code here
set6.update(set3,set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 49, 52, 53, 54, 55, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [119]:
# Your code here
set7= set1 & set6
print(len(set1))
print(len(set6))
print(set7)
print(len(set7))
#I check with the set7 all the nb in set1 and set6 after I check the lenght of set1 set6 and set7 and they have the same len

80
80
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 49, 52, 53, 54, 55, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 98, 99}
80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [120]:
# Your code here
set8 = set1.issubset(set2)
print(set8)

False

In [121]:
set9 = set1.issubset(set3)
print(set9)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [122]:
# Your code here
set10= set3.union(set4,set5)
print(set10)

#Return a set that contains all items from both sets, duplicates are excluded:

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 98, 99}

In [123]:
set11= set1.union(set2)
print(set11)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [126]:
# Your code here

set12= set1.pop()
print(set12)
#Remove a random item from the set and don't show it after (hangman!!!)

2

In [139]:
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 46, 47, 52, 53, 54, 55, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 76, 77, 80, 82, 83, 85, 86, 87, 88, 90, 92, 94, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [138]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# set13=set()
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
# set13 = set1